.hmenu {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:940px;
  height:50px;
  background:#f3f3f3;
  border:0px solid #ff0000;
  left:10px;
  top: 0px;
  margin: 0px auto;
  overflow: hidden;
 
}

.hmenu ul {
 list-style-type:none;
 margin-left: 10px;
}

.hmenu ul a
{
    display: block;
    white-space: nowrap;
    height: 29px;
    min-width: 10em;
    border: 0px solid transparent;
    text-align: left;
    line-height: 29px;
    color: #FFFFFF;
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

.hmenu ul a, .hmenu ul a:link, .hmenu ul a:visited, .hmenu ul a:active, .hmenu ul a:hover
{
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
}


.hmenu ul li:first-child{
    margin-left:15px;
}

.hmenu ul li:last-child
{
    margin-right:15px;
}

.hmenu ul li {
 float:left;
 width:100px;
 text-align:center;
 margin-left:5px;
}

.hmenu ul li a
{
    background: #0E2734 url('../images/menuitem.png') scroll;
    background: -webkit-linear-gradient(top, rgba(37, 103, 139, 0.19) 0, rgba(0, 0, 0, 0.14) 100%) no-repeat, url('../images/menuitem.png'), -webkit-linear-gradient(top, #1A4861 0, #010304 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(37, 103, 139, 0.19) 0, rgba(0, 0, 0, 0.14) 100%) no-repeat, url('../images/menuitem.png'), -moz-linear-gradient(top, #1A4861 0, #010304 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(37, 103, 139, 0.19) 0, rgba(0, 0, 0, 0.14) 100%) no-repeat, url('../images/menuitem.png'), -o-linear-gradient(top, #1A4861 0, #010304 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(37, 103, 139, 0.19) 0, rgba(0, 0, 0, 0.14) 100%) no-repeat, url('../images/menuitem.png'), -ms-linear-gradient(top, #1A4861 0, #010304 100%) no-repeat;
    background: linear-gradient(top, rgba(37, 103, 139, 0.19) 0, rgba(0, 0, 0, 0.14) 100%) no-repeat, url('../images/menuitem.png'), linear-gradient(top, #1A4861 0, #010304 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(37, 103, 139, 0.19) 0, rgba(0, 0, 0, 0.14) 100%) no-repeat, url('../images/menuitem.png'), linear-gradient(top, #1A4861 0, #010304 100%) no-repeat;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border: 0px solid #1B517E;
    border-bottom: none;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 35px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 35px;
    text-align: center;
}

.hmenu ul li a:active
{
    background: #FF5F0F url('../images/menuactiveitem.png') scroll;
    background: -webkit-linear-gradient(top, rgba(255, 146, 92, 0.21) 0, rgba(247, 82, 0, 0.07) 65%, rgba(194, 65, 0, 0.1) 100%) no-repeat, url('../images/menuactiveitem.png'), -webkit-linear-gradient(top, #FF8142 0, #FF5500 65%, #DB4900 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(255, 146, 92, 0.21) 0, rgba(247, 82, 0, 0.07) 65%, rgba(194, 65, 0, 0.1) 100%) no-repeat, url('../images/menuactiveitem.png'), -moz-linear-gradient(top, #FF8142 0, #FF5500 65%, #DB4900 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(255, 146, 92, 0.21) 0, rgba(247, 82, 0, 0.07) 65%, rgba(194, 65, 0, 0.1) 100%) no-repeat, url('../images/menuactiveitem.png'), -o-linear-gradient(top, #FF8142 0, #FF5500 65%, #DB4900 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(255, 146, 92, 0.21) 0, rgba(247, 82, 0, 0.07) 65%, rgba(194, 65, 0, 0.1) 100%) no-repeat, url('../images/menuactiveitem.png'), -ms-linear-gradient(top, #FF8142 0, #FF5500 65%, #DB4900 100%) no-repeat;
    background: linear-gradient(top, rgba(255, 146, 92, 0.21) 0, rgba(247, 82, 0, 0.07) 65%, rgba(194, 65, 0, 0.1) 100%) no-repeat, url('../images/menuactiveitem.png'), linear-gradient(top, #FF8142 0, #FF5500 65%, #DB4900 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(255, 146, 92, 0.21) 0, rgba(247, 82, 0, 0.07) 65%, rgba(194, 65, 0, 0.1) 100%) no-repeat, url('../images/menuactiveitem.png'), linear-gradient(top, #FF8142 0, #FF5500 65%, #DB4900 100%) no-repeat;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border: 0px solid #335B6C;
    border-bottom: none;
    padding: 0 12px;
    margin: 0 auto;
    color: #000000;
    padding-bottom: 1px;
    margin-bottom: -1px;
    text-decoration: none;
}

.hmenu ul li a:hover, .hmenu ul li:hover a,.hmenu ul li a:visited
{
    background: #F00509 url('../images/menuhovereditem.png') scroll;
    background: -webkit-linear-gradient(top, rgba(251, 70, 73, 0.2) 0, rgba(250, 10, 14, 0.14) 40%, rgba(165, 3, 6, 0.1) 100%) no-repeat, url('../images/menuhovereditem.png'), -webkit-linear-gradient(top, #FB2D31 0, #FA0509 40%, #BE0407 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(251, 70, 73, 0.2) 0, rgba(250, 10, 14, 0.14) 40%, rgba(165, 3, 6, 0.1) 100%) no-repeat, url('../images/menuhovereditem.png'), -moz-linear-gradient(top, #FB2D31 0, #FA0509 40%, #BE0407 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(251, 70, 73, 0.2) 0, rgba(250, 10, 14, 0.14) 40%, rgba(165, 3, 6, 0.1) 100%) no-repeat, url('../images/menuhovereditem.png'), -o-linear-gradient(top, #FB2D31 0, #FA0509 40%, #BE0407 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(251, 70, 73, 0.2) 0, rgba(250, 10, 14, 0.14) 40%, rgba(165, 3, 6, 0.1) 100%) no-repeat, url('../images/menuhovereditem.png'), -ms-linear-gradient(top, #FB2D31 0, #FA0509 40%, #BE0407 100%) no-repeat;
    background: linear-gradient(top, rgba(251, 70, 73, 0.2) 0, rgba(250, 10, 14, 0.14) 40%, rgba(165, 3, 6, 0.1) 100%) no-repeat, url('../images/menuhovereditem.png'), linear-gradient(top, #FB2D31 0, #FA0509 40%, #BE0407 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(251, 70, 73, 0.2) 0, rgba(250, 10, 14, 0.14) 40%, rgba(165, 3, 6, 0.1) 100%) no-repeat, url('../images/menuhovereditem.png'), linear-gradient(top, #FB2D31 0, #FA0509 40%, #BE0407 100%) no-repeat;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border: 0px solid #467F95;
    border-bottom: none;
    padding: 0 22px;
    margin: 0 auto;
}
